.DS_Store
readme.html
design-sheet.html
python.tar.gz #large file

# sublime text
*.sublime-workspace

# python
__pycache__/
*.py[cod]
*.pyc
*$py.class

#latex
latex_out/
*.aux
*.bbl
*.blg
*.out
*.fls
*.lof
*.lot
*.log
*.toc
*.fdb_latexmk
*.synctex.gz
*.gz


Modules/tests/
Manuscripts/cog-psych/review_materials/

chtc_code/
private/
Archive/
*~


